language: rust
rust: stable
before_script:
  - cargo install cargo-generate
script:
  - cd ..
  - cargo generate --git https://github.com/eupn/rust-procmacro-quickstart-template --name projectname
  - cd projectname
  - cargo check
